{% extends "EB_app/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href = "{% static 'EB_app/style.css' %}"> 
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'questions' %}">&#x2190; Add more questions</a>

				<br>
				<br>
                <!-- cart summary -->
				<table class="table">
					<tr>
						<th><h5>Items:</h5></th>
						<th><h5>Total:</h5></th>
						<th><a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a></th>
					</tr>
				</table>

			</div>

			<br>
            
			<!-- Cart items -->
				{% for item in questions %}
				<container class="cart-row">
					<div style="flex:1"><p>question: {{item.question.name}} </p></div>
					<div style="flex:1"><p></p></div>
					<div style="flex:1">
						<p class="quantity">Exam Question Number: {{item.exam_question_number}}</p>
						<div class="quantity">
                            <container_del data-question = "{{item.question.id}}" data-action ="remove" class="btn btn-outline-secondary add-btn update-cart"> ✘</container_del>
                        </div>
					</div>
				</container>
                {% endfor %} 

			</div>
		</div>
	</div>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
{% endblock content %}
