/* formatting for text*/


html *{font-family: Helvetica, Arial, sans-serif}

h1{color: #206f50;}

h2{color: #34745a;}

body{background-color: rgb(228, 250, 242)}


/* nav bar ------------------------------------------------------------------------- */

.topnav{
    width: 50%;
    height: 50px;
    background-color: rgb(181, 174, 174);
    overflow: hidden;
    display: flex; 
    justify-content: space-between;
}

/* nav bar links */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
.topnav a.special_nav_item {
    background-color: #34745a;
    color: white;
  }

/* images---------------------------------------------------------------- */
.thumbnail {
  height: 50%; 
  width: 50%;

}







/* tables ------------------------------------------------------------------------ */
table, th, td {      
  border: 1px solid;
  border-collapse: collapse;  /* double borders --. single border*/
  width: 90%;
  text-align: left;
  padding-left: 8px;
  margin-left: 10px;
  table-layout: fixed;
  color: black;
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e2ba44;
  border-color: black;
  color: black;
}

.wide_th {
  width: 150%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #e2ba44;
  border-color: black;
  color: black;
}

tr:nth-child(even){background-color: #dedede;}
tr:nth-child(odd){background-color: #ebebeb;}
tr:hover {color: black;
  font-weight: 500;
  background-color: rgb(167, 182, 178);
  border-style: solid;
  border-color: #34745a;
}

 /*  Search bar:  */

 /*  divboxes  */
container{
  color: white;
  display: flex; 
  background-color: #34745a;
  width: 80%;
  align-items: left;
  justify-content: left;

  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: black;
  
  margin-bottom: 5px;

  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 container_del{
  color: red;
  display: flex; 
  background-color: #34745a;
  width: 15%;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: black;
  
  margin-bottom: 5px;
 }

 container_del:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  font-weight: bold;
  color: white;
  background-color: red;
  }
 

 small_container{
  color: white;
  display: flex; 
  background-color: #34745a;
  width: 70%;
  align-items: center;
  justify-content: left;

  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: black;
  
  margin-bottom: 5px;


  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
 }

 #green_tick {
  color: #206f50;
 }

 /* links */
 a {color: black;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
 }

 a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  text-align: left;
  padding-left: 5px;
  font-weight: bold;
  color: transparent;
  text-shadow: 0 0 2px #e2ba44;}
 

 
  button {
    color: white;
  background-color: #e2ba44;
  width: 50%;
  align-items: center;
  justify-content: left;

  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: black;
  margin-top: 10%;


  padding-top: 5px;
  padding-bottom: 5px;
 }

 button:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  font-weight: bold;
  text-shadow: 0 0 0.5px #34745a;
color: transparent;}


prog_grey {color: red;}
prog_green { color: #206f50;}


/* question progess*/
#zero_progress {background: grey;color: black; font-size: smaller; inline-size: min-content; border-radius: 50%;}
#one_progress {background: rgb(255, 121, 12);color: black;font-size: smaller; border-radius: 50%;}
#two_progress {background: rgb(243, 247, 25); color: black;font-size: smaller; border-radius: 50%;}
#three_progress {background: rgb(9, 103, 24);font-size: smaller; border-radius: 50%;}

#zero_progress_cell {background: rgb(196, 196, 196);color: black;}
#one_progress_cell {background: rgb(249, 161, 89);color: black;}
#two_progress_cell {background: rgb(243, 245, 153); color: black;}
#three_progress_cell {background: rgb(126, 209, 140);}



/* images */
img {
    width: 30px;
    height: 30px;
}
